@import "tailwindcss";

:root {
  --ease-silky: cubic-bezier(0.4, 0.8, 0, 1);
  --ease-lazy: linear(
    0,
    0.002 0.5%,
    0.008 1.1%,
    0.019 1.7%,
    0.034 2.3%,
    0.052 2.9%,
    0.073 3.5%,
    0.102 4.2%,
    0.134 4.9%,
    0.191 6%,
    0.264 7.3%,
    0.556 12.1%,
    0.683 14.3%,
    0.742 15.4%,
    0.797 16.5%,
    0.848 17.6%,
    0.89 18.6%,
    0.932 19.7%,
    0.967 20.7%,
    0.997 21.7%,
    1.027 22.8%,
    1.052 23.9%,
    1.073 25%,
    1.09 26.1%,
    1.104 27.3%,
    1.117 28.9%,
    1.123 30.6%,
    1.124 32.4%,
    1.119 34.3%,
    1.112 35.9%,
    1.101 37.7%,
    1.043 45.5%,
    1.018 49.5%,
    1.007 51.7%,
    0.998 54%,
    0.992 56.3%,
    0.988 58.6%,
    0.985 61.7%,
    0.985 65.2%,
    1 84.5%,
    1.002 91.4%,
    1
  );
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@theme {
  --color-*: initial;
  --color-primary-white: oklch(99.377% 0.00121 107.841);
  --color-primary-black: oklch(29.55% 0.06557 130.663);
  --color-secondary-black: oklch(50% 0.06557 130.663);
  --color-primary-green: oklch(63.974% 0.18638 134.886);
  --color-primary-green-lighter: oklch(73.153% 0.1992 136.887);
  --color-secondary-green: oklch(84.571% 0.16442 135.438);
  --color-light-green: oklch(96.807% 0.01818 127.345);
  --color-primary-orange: oklch(72.689% 0.17887 53.595);
}

@theme inline {
  --font-mono: var(--font-roboto-mono);
  --font-sans: var(--font-plus-jakarta-sans);
}

::selection {
  @apply bg-primary-green/15;
}

body {
  @apply bg-primary-white text-primary-black font-sans;
}
