@import "tailwindcss";

:root {
  --primary-green: #55a300;
  --primary-green: #55a300;
  --primary-green-lighter: #65c330;
  --secondary-green: #9be472;
  --light-green: #f1f7ea;
  --primary-orange: #fa8112;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-*: initial;
}

@theme inline {
  --color-primary-green: var(--primary-green);
  --color-primary-green-lighter: var(--primary-green-lighter);
  --color-secondary-green: var(--secondary-green);
  --color-light-green: var(--light-green);
  --color-primary-orange: var(--primary-orange);
}

body {
  background: white;
  color: var(--primary-green);
  font-family: var(--font-plus-jakarta-sans);
}
